@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#main-page {
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
  font-weight: 500;
}

h4 {
  font-weight: 700;
}
h5 {
  font-weight: 600;
}
.cv {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.profile {
  padding: 20px;
  background: rgb(251, 251, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.resume {
  display: grid;
  grid-template-columns: 8rem auto;
  background: rgb(236, 229, 229);
}

.resume-section {
  padding: 20px;
}

ul {
  list-style-type: square;
}

.titles {
  text-align: center;
  margin-bottom: 20px;
}

.homework {
  border-radius: 10px;
  background: #a6a9be;
  padding: 10px;
  margin: 10px;
  color: black;
}

a.homework {
  text-decoration: none;
}

.vertical-line {
  border-left: 10px solid rgb(100, 95, 179);
  margin: 0 auto;
  height: 100%;
}
.hw-title {
  color: rgb(100, 95, 179);
  font-family: "Cormorant Garamond", serif;
}
.hw-body {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 18px;
}

.back-btn {
  border-radius: 10px;
  background-color: #a6a9be;
  border-style: none;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  color: rgb(100, 95, 179);
}

.back-btn:hover {
  background-color: rgb(100, 95, 179);
  color: #fff;
}

.hw-btn {
  background-color: rgb(100, 95, 179);
  color: #e6e5e5;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
}

.ans {
  font-weight: 600;
}

@media (max-width: 920px) {
  .cv {
    display: block;
  }
  .profile {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .resume {
    grid-template-columns: 4rem auto;
  }
  .profile-picture {
    width: 120px;
    height: 120px;
    margin-right: 10px;
  }

  .vertical-line {
    border-left: 10px solid rgb(100, 95, 179);
    margin-left: 70%;
    height: 100%;
  }
}
